body {
  overflow: hidden;
}
#map {
  /* Fixed position */
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* Fixed map z-index */
  z-index: 35;
}
#map .ol-zoom {
  font-size: 1.2em;
}
/* Offset indicates where navbar ends and map starts */
.navbar-offset {
  /* 50px from the top */
  margin-top: 50px;
}
/* Left and right sidebars should be above map z-index */
.sidebar {
  z-index: 45;
  /* All margins 0.5em */
  margin: .5em;
}
/* Chevron on sidebar header */
.slide-submenu {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
}
.slide-submenu:hover {
  /* Small highlight on hover */
  opacity: 0.5;
}
/* Minimized sidebar icon */
.mini-submenu {
  display: none;
  background-color: rgba(255, 255, 255, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  width: 42px;
  text-align: center;
}
.mini-submenu:hover {
  cursor: pointer;
}
/* Icons positions for left and right sidebars */
.mini-submenu-left {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 40;
}
.mini-submenu-right {
  position: absolute;
  top: .5em;
  right: .5em;
  z-index: 40;
}
/*
.zoom-top-opened-sidebar {
  margin-top: 5px;
}
.zoom-top-collapsed {
  margin-top: 45px;
}
*/
/*
.main-row {
  position: relative;
  top: 0;
}
*/
