.footer {
  /* Fixed position */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 22px;
  background-color: #f5f5f5;
}
.footer > .container-fluid {
  padding: 2px;
  font-size: 16px;
}
