/* Highlight layer item in list on hover */
#layers-list .list-group-item {
  cursor: pointer;
}
#layers-list .list-group-item:hover {
  background: #f2f2f2;
}
#layers-list .item.left {
  float: left;
  width: 30px;
}
#layers-list .item.right {
  float: right;
  width: 50px;
  text-align: right;
}
#layers-list .item.middle {
  margin-left: 30px;
  margin-right: 50px;
}
#layers-list .item.slider {
  margin-left: 30px;
  /**/
  padding-top: 7px;
}
#layes-list .item.description {
  margin: 0;
}
#layers-list .item.middle,
#layers-list .item.description {
  /* String will wrap */
  overflow-wrap: break-word;
  /* Until minimum width */
  min-width: 80px;
}
#layers-list .layer-display {
  position: relative;
  margin-left: 10px;
}
#layers-list .options {
  overflow: hidden;
  width: 100%;
}
#layers-list .ui-slider {
  width: calc(100% - 15px);
}
#layers-list .layer-info {
  overflow: hidden;
}
#layers-list .item.left,
#layers-list .item.middle {
  padding-top: 3px;
}
