/* Verticaly align layer icon and controls */
#layers-list .item.left, #layers-list .item.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* Elements in layer item should be inline */
/* Glyphicon */
#layers-list .item.left {
  left: 7px; /* From left border */
}
/* Layer name */
#layers-list .item.center {
  /* Set corresponding margins */
  margin-left: 15px; /* Layer glyphicon */
  margin-right: 32px; /* Control elements */
  /* Name string will wrap */
  overflow-wrap: break-word;
}
/* Controls */
#layers-list .item.right {
  right: 7px; /* From right border */
}
/* Set larger size for checkbox label */
#layers-list .checkbox label::before {
  width: 25px;
  height: 25px;
  margin-left: -22px;
}
#layers-list .checkbox label::after {
  width: 26px;
  height: 26px;
  font-size: 16px;
}
