/* Left and right sidebars should be above map z-index */
.sidebar {
  z-index: 45;
}
/* Set margin for sidebar panels */
.sidebar-left .sidebar-body {
  margin: .5em -.4em .5em .5em;
}
/* -.4em move ol-zoom and ol-rotate close to panels */
.sidebar-right .sidebar-body {
  margin: .5em .5em .5em -.4em;
}
/* Chevron on sidebar header */
.slide-submenu {
  cursor: pointer;
  /* Set absolute position */
  position: absolute;
  /* 32px from the right border */
  right: calc(0% + 32px);
}
.slide-submenu:hover {
  /* Small highlight on hover */
  opacity: 0.5;
}
