#map {
  /* Fixed position */
  position: absolute;
  /* 50px is default navbar height */
  top: 50px;
  /* 22px is footer height */
  bottom: 22px;
  left: 0px;
  right: 0px;
  /* Fixed map z-index */
  z-index: 35;
}
#map .ol-zoom {
  font-size: 1.2em;
}
#map .ol-rotate {
  font-size: 1.2em;
}
