<!-- Offset from navigation bar -->
<div class="navbar-offset"></div>
<container>
  <!-- OpenLayers 3 Map -->
  <div id="map"></div>
  <!-- Minimized side panels icons -->
  <div class="mini-submenu mini-submenu-left pull-left">
    <!-- For left sidebar -->
    <i class="fa fa-list-alt"></i>
  </div>
  <div class="mini-submenu mini-submenu-right pull-right">
    <!-- For right sidebar -->
    <i class="fa fa-tasks"></i>
  </div>
</container>
<!-- Side panels -->
<div class="row main-row">
  <!-- Left sidebar -->
  <div class="col-xs-5 col-sm-4 col-md-3 sidebar sidebar-left pull-left" id="sidebar-left"></div>
  <!-- Middle bar -->
  <div class="col-xs-2 col-sm-4 col-md-6 middle"></div>
  <!-- Right sidebar -->
  <div class="col-xs-5 col-sm-4 col-md-3 sidebar sidebar-right pull-right" id="sidebar-right"></div>
</div>
