<!-- Layers panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#layers-list">
        <i class="fa fa-list-alt"></i> Layers
      </a>
      <!-- Slide chevron to minimize left sidebar -->
      <span class="pull-right slide-submenu">
        <!-- Should be on first panel header in group -->
        <i class="fa fa-chevron-left"></i>
      </span>
    </h4>
  </div>
  <div class="panel-collapse collapse in" id="layers-list">
    <!-- Put panel-body content into resizable div -->
    <div class="panel-resizable">
      <div class="panel-body list-group">
        <!-- Print map layers list here -->
        <% _.each(layers, function(layer) { %>
          <div class="list-group-item">
            <!-- Align info inline with margins -->
            <div class="left"><i class="fa fa-globe"></i></div>
            <div class="center"><%= layer.name %></div>
            <div class="right">
              <div class="btn-group text-right" data-toggle="buttons">
                <label class="btn btn-default btn-circle">
                  <input type="checkbox" autocomplete="off">
                  <span class="glyphicon glyphicon-ok"></span>
                </label>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <!-- Resize handle -->
    <div class="ui-resizable-handle ui-resizable-s"></div>
  </div>
</div>
