<!-- Layers panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#layers-list">
        <i class="fa fa-list-alt"></i> Layers
      </a>
      <!-- Slide chevron to minimize left sidebar -->
      <span class="pull-right slide-submenu">
        <!-- Should be on first panel header in group -->
        <i class="fa fa-chevron-left"></i>
      </span>
    </h4>
  </div>
  <div class="panel-collapse collapse in" id="layers-list">
    <!-- Put panel-body content into resizable div -->
    <div class="panel-resizable">
      <div class="panel-body list-group">
        <!-- Print map layers list here -->
        <% _.each(layers, function(layer) { %>
          <a href="#" class="list-group-item">
            <i class="fa fa-globe"></i> <%= layer.name %>
          </a>
        <% }); %>
      </div>
    </div>
    <!-- Resize handle -->
    <div class="ui-resizable-handle ui-resizable-s"></div>
  </div>
</div>
